.homenfc {
    max-height: 500px; 
    max-width: 500px;
}

.homeafc {
    max-height: 500px;
    max-width: 500px;
}

.teamlogo {
    max-width: 500px;
    max-height: 500px;
}

header {
    background-color: #212121;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3em;
  }

  header nav a {
    margin: 0 1em;
  }

homelink {
    color: white;
}


