img.nflLogo, a.homelink {
    max-width: 30px;
    max-height: 30px;
    min-height: auto;
    justify-content: space-between;
}

.homenfc {
    max-height: 400px; 
    max-width: 400px;
}

.homeafc {
    max-height: 400px;
    max-width: 400px;
}

.teamlogo {
    max-width: 300px;
    max-height: 300px;
}

a.homelink, header {
    align-content: center;
    color: white;
    background-color: black;
    padding: 1em;
    min-height: 1.5em; 
    font-family: 'Georgia';
    margin: 0.5em;
    text-decoration: none;
}

h1.allDivs {
    text-decoration: none;
    font-family: 'Georgia';
    color: black;
}

div.team {
    font-family: 'Georgia';
    align-items: center;
}

div.teamPlayer {
    font-family: 'Georgia';
}



