.create-page {
    font-family: 'Gerogia';
}

.createTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.createTitle:hover {
    color: rgba(1,1,1,1);
    text-decoration: none;
}

.playerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-name {
    margin: 1rem;
    font-size: 16px;
}

.input-age {
    font-size: 16px;
}

.position-div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.select-positions {
    font-size: 16px;
}

.error-message {
    color: rgb(208, 46, 46)
}

.addPlayerBtn {
    margin: 1rem;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.addPlayerBtn:hover {
    transform: scale(1.1);
    background-color: #45a049;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    margin: 3rem;
    width: 48vh;
    height: 48vh;
    object-fit: cover;
}