.home-page {
    text-align: center;
    font-family: 'Georgia';
}

.div-option {
    margin: 3rem;
}

.homeNFC {
    width: 300px;
    height: 300px;
}

.homeNFC:hover {
    scale: 1.1;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.homeAFC {
    width: 300px;
    height: 300px;
}

.homeAFC:hover {
    scale: 1.1;
    transition: transform 0.3s ease;
    cursor: pointer;
}